
.photo-album {
  text-align: center;
  padding: 20px;
  margin: 10px 0;
}

.gallery {
  padding: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 0;
  position: relative;
  height: auto;
}
h1{
  background-color: rgb(201, 237, 221);
}